* {
  margin: 0;
  padding: 0;
}

:root {
  /* GRAY */
  --gray1: #828282;
  --gray2: #535353;
  --gray3: #4F4F4F;
  --gray4: #333333;
  --gray5: #212121;

  /* LIGHT */
  --white: #FFFFFF;
  --white-300: #d6ced6; 

  /* DARK */
  --dark: #121214;

  /* BLUE */
  --blue: #00D8FF;

  /* YELLOW */
  --yellow: #F0DB4F;

  /* PURPLE */
  --purple: #A259FF;

  /* GREEN */
  --green: #27AE60;
  --green-hover: #229653;
  --green-200: #0ACF83;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 160px;
}

img, a {
  -webkit-user-drag: none; /* Safari */
  -khtml-user-drag: none; /* Konqueror HTML */
  -moz-user-drag: none; /* Firefox */
  -o-user-drag: none; /* Old versions of Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -o-user-select: none; /* Old versions of Opera */
  user-select: none;
}

body {
  font-family: Inter, sans-serif;
  background: var(--dark);
  color: var(--white);
  margin: 100px 0 32px 0;
}

header, main, .home, .text-info,
.services, .projects, .skills, .list,
.skill {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  padding: 24px 240px;
  position: fixed;
  z-index: 2;
  left: 0px;
  top: 0px;
  width: -webkit-fill-available;
  background: rgba(83, 83, 83, 0.07);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

ul {
  display: flex;
  gap: 24px;
}

ul li {
  list-style: none;
}

li a {
  font-size: 18px;
}

a, button {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
}

ul li a:hover {
  color: var(--green);
}


main {
  flex-direction: column;
  gap: 160px;
  width: 100%;
  margin-top: 160px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
}


/* ABOUT ME */

.home {
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap-reverse;
  width: 64%;
}

.home img {
  width: 50%;
}

.home div h1{
  font-size: 30px;
  margin: 32px 0 8px 0;
}

.home div span {
  color: var(--gray1);
}

.actions {
  display: flex;
  gap: 8px;
  margin-top: 40px;
}

.primary, .secundary {
  padding: 16px 24px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 6px;
  width: max-content;
}

.primary {
  background: var(--green);
  border: 1px solid var(--green);
}

.secundary {
  border: 1px solid var(--white);
}

.primary:hover, .secundary:hover {
  background: var(--green-hover);
  border: 1px solid var(--green-hover);
}


/* SOCIAL */

.text-info {
  flex-direction: column;
  gap: 40px;
  width: 80%;
  text-align: center;
}

.text-info p {
  width: 616px;
  line-height: 165%;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 32px;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 0.2s ease;
}

.link img {
  width: 64px;
  height: 64px;
}

.link:hover {
  transform: scale(0.90);
}


/* SERVICES */

.services, .projects {
  flex-direction: column;
  gap: 80px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  height: 247px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 350px;
  height: 240px;
  overflow: hidden;
  border-radius: 12px;
  background: var(--gray5);
  border: 1px solid var(--gray3);
  transition: all 0.2s ease;
  cursor: default;
}

.img-project {
  height: inherit;
  object-fit: cover;
}

.services .card img {
  width: max-content;
  margin-left: 50px;
}

.card h2 {
  font-weight: 600;
  color: var(--gray2);
  margin-left: 50px;
  transition: all 0.2s ease;
}

.card:hover {
  border: 1px solid var(--gray5);
  border-bottom: 5px solid var(--green);
}

.card:hover h2 {
  color: var(--white);
}

/* SKILLS */

.skills {
  flex-direction: column;
  gap: 60px;
}

.skill {
  flex-direction: column;
  gap: 16px;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  width: 1152px;
  height: 244px;
  background: var(--gray5);
  border: 1px solid var(--gray3);
  border-radius: 12px;
}

.img-skill-width {
  width: 120px;
}

.img-skill-height {
  height: 120px;
}

.skill-name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: var(--white-300);
}

.bar-bg, .bar {
  width: 100px;
  height: 8px;
  border-radius: 8px;
  background: var(--gray2);
}

.bar {
  width: 100px;
  background: var(--green);
}

.basico {
  width: 30px;
  background: var(--blue);
}

.medio {
  width: 50px;
  background: var(--yellow);
}

.avancado {
  width: 80px;
  background: var(--green-200);
}

.especialista {
  width: 100px;
  background: var(--purple);
}


/* PROJECTS */

.projects {
  margin-bottom: 160px;
}

.projects .card {
  cursor: pointer;
}

/* FOOTER */
footer {
  width: 100%;
  text-align: center;
  margin-top: 128px;
}

/* LAYOUT RESPONSIVO */

@media only screen and (max-width: 1440px) {
  header {
    padding: 24px 80px;
  }
}

@media only screen and (min-width: 1043px) and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
    height: auto;
  }
  
  .list {
    grid-template-columns: 1fr;
    gap: 48px;
    width: 352px;
    height: auto;
    padding: 48px 0;
  }
}

@media only screen and (min-width: 746px) and (max-width: 1042px) {
  header {
    width: -webkit-fill-available;
    padding: 24px 32px;
  }

  .home {
    width: 90%;
    gap: 32px;
    justify-content: center;
  }
  
  .text-info p {
    width: 600px;
  }

  .links {
    width: 60%;
  }

  .container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .card:hover {
    border: 1px solid var(--gray5);
  }

  .list {
    grid-template-columns: 1fr;
    gap: 48px;
    width: 352px;
    padding: 48px 0;
    height: auto;
    gap: 48px;
  }

  .skill-number {
    font-size: 56px;
  }

  .skill-name {
    font-size: 20px;
  }

  .projects {
    margin-bottom: 0;
  }

}

@media only screen and (min-width: 280px) and (max-width: 746px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 128px;
  }

  body {
    padding: 16px;
  }
  
  header {
    width: -webkit-fill-available;
    flex-direction: column;
    padding: 16px 24px;
    gap: 24px;
    text-align: center;
  }

  header h1 {
    font-size: 26px;
  }

  .home {
    width: 90%;
    gap: 32px;
    justify-content: center;
  }

  .home img {
    width: 64%;
  }

  .home div h1 {
    margin: 0 0 8px 0;
  }

  .text-info p {
    width: 100%;
  }

  .links {
    width: -webkit-fill-available;
    margin: 16px 8px;
  }

  .container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .text-info {
    width: 100%;
  }

  .list {
    grid-template-columns: 1fr;
    gap: 48px;
    width: 352px;
    height: auto;
    padding: 48px 0;
    gap: 48px;
  }

  .skill-number {
    font-size: 56px;
  }

  .skill-name {
    font-size: 20px;
  }

  ul {
    gap: 16px;
  }

  li a {
    font-size: 14px;
  }

  .title {
    font-size: 32px;
  }

  main {
    margin-top: 56px;
    gap: 80px;
  }

  .text-info, .services,.contact, .projects, .skills {
    gap: 40px;
  }

  .container {
    gap: 24px;
  }

  .card:hover {
    border: 1px solid var(--gray5);
  }

  .projects {
    margin-bottom: 0;
  }

}

@media only screen and (max-width: 280px) {
  header h1 {
    font-size: 26px;
  }

  ul li {
    font-size: 14px;
  }
}
